
<div class="container">

    <h1>Paiement de don pour : {{projet.titre_projet}}</h1>
    <form>
            
        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">Nom et Prénom</label>
            </div>
            <div class="form-group col-md-6">
            <input type="text" class="form-control"  placeholder="Nom + Prénom">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">Email</label>
            </div>
            <div class="form-group col-md-6">
            <input type="email" class="form-control"  placeholder="Email">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">J'investis en tant que :</label>
            </div>
            <div class="form-group col-md-6">
                
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option1">
                    <label class="form-check-label" for="inlineRadio1">Donneur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option2">
                    <label class="form-check-label" for="inlineRadio2">Investisseur</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="option3">
                    <label class="form-check-label" for="inlineRadio3">Prêteur</label>
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">Somme</label>
            </div>
            <div class="form-group col-md-6">
                <input type="number" class="form-control"  placeholder="$ 0.00">
            </div>
        </div>

        

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">Mode de paiement</label>
            </div>
            <div class="form-group col-md-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1"  value="option1">
                    <label class="form-check-label" for="inlineRadio1">Carte crédit</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions1"  value="option2">
                    <label class="form-check-label" for="inlineRadio2">PayPal</label>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input">Code de la carte</label>
            </div>
            <div class="form-group col-md-6">
            <input type="password" class="form-control"  placeholder="Code">
            </div>
        </div>

        


        <div class="form-row">
            <div class="form-group col-md-6">
            <label for="input"></label>
            </div>
            <div class="form-group col-md-6">
                <a class="btn btn-info" routerLink="#" role="button">Valider</a>
            </div>
        </div>
    
    </form>
</div>
